<nav class="navbar navbar-expand fixed-top bg-light navbar-light">
  <a class="navbar-brand" [routerLink]="['/']"
    ><strong>G <small style="color: cornflowerblue;">O</small> T</strong></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/blogs']">Blogs</a>
      </li>
    </ul>
  </div>
</nav>
