<div
  id="carouselExampleIndicators"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img
        src="https://wallpaperaccess.com/full/682670.jpg"
        class="d-block w-100 img-fluid"
        style="height: 100vh;"
        alt="stark"
      />
      <div class="carousel-caption d-none d-sm-block d-md-block">
        <h5>House Of Starks</h5>
        <p>I grew up with soldiers. I learned how to die a long time ago. — Ned Stark</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img
        src="https://i.pinimg.com/originals/45/92/d0/4592d073168663d9499b1f7c1535fb32.jpg"
        style="height: 100vh;"
        class="d-block w-100 img-fluid"
        alt="lanister"
      />
      <div class="carousel-caption d-none d-sm-block d-md-block">
        <h5>House Of Lanisters</h5>
        <p>The day will come when you think you are safe and happy, and your joy will turn to ashes in your mouth. — Tyrion</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img
        src="https://i.pinimg.com/originals/c4/b9/55/c4b9551724fc32b594f77698b33a2931.jpg"
        style="height: 100vh;"
        class="d-block w-100 img-fluid"
        alt="dragon"
      />
      <div class="carousel-caption d-none d-sm-block d-md-block">
        <h5>House Of Targeriyans</h5>
        <p>I am the dragon's daughter, and I swear to you that those who would harm you will die screaming. — Daenerys</p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
